*{
    box-sizing: border-box;
}

body
{
    margin: 0;
}

.frame
{   
    margin-left: 150px;
    margin-right: 150px;
}

.header
{
    display: flex;
    background-color: #2c2c32;
    justify-content: space-between;          
    position: relative;
    width: auto;
    height: 50px;
}

a
{
    text-decoration: none;
}

.menuicon
{   
    right: 25px;
    top: 7px;
    position: absolute;
    width: 24px;
    height: 24px;
}

.menuiconimg
{
    width: 24px;
    height: 24px;
}

.vscode-link
{
    color: white;  
    font-size: 20px;
    margin-top: 10px;    
}

.vscode-text
{
    vertical-align: middle;    
}

.vscode-img
{
    width: 24px;
    height: 24px;
    margin-right: 10px;  
    vertical-align: middle;  
}

.navigation
{
    display: none;
}



